/* tipo de woomer 

.textWoomers{
  font-family: 'Cera';
  font-weight: '700';
  font-size: 1.5em;
}

.textWoomers2{
  font-family: 'Cera';
  font-weight: '500';
  font-size: 1.125em;
}

.range {
  -webkit-appearance: none;
  vertical-align: middle;
  outline: none;
  border: none;
  padding: 0;
  background: none;
}

.range::-webkit-slider-runnable-track {
  background-color: #f2f3f7;
  height: 6px;
  border-radius: 3px;
  border: 1px solid transparent;
}

.range[disabled]::-webkit-slider-runnable-track {
  border: 1px solid #f2f3f7;
  background-color: transparent;
  opacity: 0.4;
}

.range::-moz-range-track {
  background-color: #f2f3f7;
  height: 6px;
  border-radius: 3px;
  border: none;
}

.range::-ms-track {
  color: transparent;
  border: none;
  background: none;
  height: 6px;
}

.range::-ms-fill-lower { 
  background-color: #f2f3f7;
  border-radius: 3px;
}

.range::-ms-fill-upper { 
  background-color: #f2f3f7;
  border-radius: 3px;
}

.range::-ms-tooltip { display: none; /* display and visibility only */ }

.range::-moz-range-thumb {
  border-radius: 20px;
  height: 18px;
  width: 18px;
  border: none;
  background: none;
  background-color: #831383;
}

.range:active::-moz-range-thumb {
  outline: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  border-radius: 100%;
  background-color: #831383;
  height: 18px;
  width: 18px;
  margin-top: -7px;
}

.range[disabled]::-webkit-slider-thumb {
  background-color: transparent;
  border: 1px solid #f2f3f7;
}

.range:active::-webkit-slider-thumb {
  outline: none;
}

.range::-ms-thumb { 
  border-radius: 100%;
  background-color: #831383;
  height: 18px;
  width: 18px; 
  border: none;
}

.range:active::-ms-thumb {
  border: none;
}

output {
  border: 1px solid #f2f3f7;
  color: #333;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  padding: .4em .6em;
  border-radius: 3px;
}

.rangeValueDiv {
  float: right;
} */

/* catalogo */

.celsphone{
	width: 140px;
}
.img-cel{
	padding-top: 10px;
}
.contain-cel{
	float: left;
	margin-top:20px;
	margin-left: 7px;
	padding: 0;
}

.contain-info{
	margin-left: 7px;
	margin-top:20px;
	padding: 0;
}

ul{
	list-style: none;
	padding-left: 10px;
}

.filtros{
	display: inline-block;
	font-size: 12px;
}

.filtros h4, h3{
	display: inline-block;
	font-size: 14px;
}

.catalogue h2{
	float: left;
	font-size: 1.5em;
	margin-bottom: 0;
}

.cont-select form{
	display: inline-block;
	margin-top: 18px;
}

.con-select{
	margin-top: 10px;
}
.filtro_orden{
	padding: 3px;
	margin-left: 390px;
}

.soport{
	width: 120px;
	/*float: left;*/
	display: block;
	margin-top: 20px;
}
.but-vert{
	transform: rotate(-90deg);
	padding-left: 15px;
	padding-right: 15px;
	margin-top:30px;
	margin-left: 3px;
	height: 20px;
	display: inline-block;
	border: 1px solid #000;

	
}
.but-vert-arr{
	transform: rotate(-90deg);
	padding-left: 15px;
	padding-right: 15px;
	height: 20px;
	display: inline-block;
	border: 1px solid #000;
	margin-top: 20px;
	
	
}
.contain-info h2{
	font-size: 18px;
	margin-left: 33px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.contain-info h4{
	font-size: 12px;
	margin-left: 33px;
	
}
.valor{
	font-size: 27px;

}
.valor1{
	font-size: 12px;
	margin-left: 80px;
}

.valor2{
	font-size: 12px;

}

.valor3{
	font-size: 20px;
}
.see-detail{
	margin-top: 13px;
	margin-left: 13px;
}



@media (max-width: 768px) { 
	.img-cel{
		width: 100px;
		margin-left: 80px;
	}
	.contain-inf-cel{
		margin-left: 65px;
	}
	.soport{
		width: 100px;
		/*float: left;*/
		display: block;
		margin-top: 20px;
		margin-left: 80px;
	}
	.contain-info h2{
		font-size: 24px;
		margin-left: 33px;
		margin-bottom: 5px;
		margin-top: 5px;
	}
	.contain-info h4{
		font-size: 12px;
		margin-left: 33px;
	
	}
	.input-seach, .form-control{
		width: 160px;
	}

	.btn-filter{
		width: 270px;
		margin-top:10px;
		margin-bottom: 10px;
		text-align: center;
	}

	.menu-filter{
		width: 265px;
		padding-left: 10px;
	}
	.see-detail{
		margin-top: 13px;
	}
}

/* modal contrata */

.modal-title {
  text-align: center;
  font-family: 'Cera';
  font-weight: '700';
  /* font-size: 1.5em; */
}

.pDelModal {
  text-align: center;
  color: white;
  background-color: #4b0a5a;
  padding: 2%;
  padding-bottom: 5%;
  margin-bottom: 3%;
}

.input-group {
  padding-bottom: 3%;
}

.btn-primary {
  width: 100%;
  background-color: #4b0a5a !important;
}

.pDelFooter {
  text-align: center;
  font-family: 'Cera';
  font-weight: '700';
  font-size: 1.7em;
}